<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Creation form</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}/patch(id=${user.getId()})}" th:object="${user}">
  <label for="name">Name</label>
  <input type="text" th:field="*{firstName}" id="name"/>
  <br/>
  <label for="lastname">Last Name</label>
  <input type="text" th:field="*{lastName}" id="lastname"/>
  <br/>
  <label for="email">Name</label>
  <input type="text" th:field="*{email}" id="email"/>
  <br/>
  <label for="pass">Password</label>
  <input type="text" th:field="*{password}" id="pass"/>
  <br/>
  <th:block th:each="role : ${roleList}">
    <input type="checkbox" th:field="*{roleSet}" th:text="${role.roleName}" th:value="${role.id}" />
    <br/>
  </th:block>
  <br/>
  <input type="submit" value="Update"/>
</form>
</body>
</html>